@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@model List<BlogViewModel>


<div class="col-lg-8">
    <div class="all-blog-posts">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <a asp-route-id="@item.BlogId" asp-action="BlogDetails" asp-controller="Blog"><img src="@item.BlogThumbnailImage" alt=""></a>
                        </div>
                        <div class="down-content">
                            <span>@item.Category.CategoryName</span>
                            <a asp-route-id="@item.BlogId" asp-action="BlogDetails" asp-controller="Blog"><h4>@item.BlogTitle</h4></a>
                            <ul class="post-info">
                                <li>@item.BlogCreateDate.ToString("dd-MMM-yyyy")</li>
                                <li><vc:Comment-Count id=@item.BlogId></vc:Comment-Count></li> Adet Yorum
                            </ul>
                            <br>
                            <br>
                            <div>

                                @Html.Raw(item.BlogContent.Substring(0,item.BlogContent.Substring(0,130).LastIndexOf(" ")))
                                    <span>...</span>

                            </div>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-tags"></i></li>
                                            @foreach (var tags in item.BlogTags.Split(",").ToList())
                                            {
                                                <li><a href="#">@tags</a>,</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="post-share">
                                            <li><i class="fa fa-share-alt"></i></li>
                                            <li><a href="#">Facebook</a>,</li>
                                            <li><a href="#"> Twitter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a asp-action="Blogs" asp-controller="Blog" class="btn" style="background-color:#f48840; color:white;">Bütün Bloglar</a>
                </div>
            </div>
        </div>
    </div>
</div>
