@model List<BlogViewModel>

@{
    ViewData["Title"] = "AllBlogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-border-all"></i>
                </span> Bloglar
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Blog </th>
                                        <th> Kategori </th>
                                        <th> Oluşturma Tarihi </th>
                                        <th> Status </th>
                                        <th> İşlem </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                <img src="@item.BlogThumbnailImage" class="mr-2" alt="image"> @item.BlogTitle
                                            </td>
                                            <td> @item.Category.CategoryName </td>
                                            <td> @item.BlogCreateDate </td>
                                            <td>
                                                <label class="badge  @(item.BlogStatus == true ? "badge-gradient-success":"badge-gradient-danger")">@(item.BlogStatus == true ? "Online":"Offline")</label>
                                            </td>
                                            <td> <a asp-controller="Admn" asp-action="BlogStatus" asp-route-id="@item.BlogId" class="btn btn-sm btn-outline-danger">@(item.BlogStatus == true ? "Kaldır" : "Yayınla")</a> </td>
                                            <td> <a asp-controller="Admn" asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-sm btn-outline-info">Düzenle</a> </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>